.machineBody{
    position: relative;
    align-items: center;
}
#machineMain {
   position: absolute;
    max-width: 900px;
    max-height: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#playButton{
    position:relative;
    background: transparent;
    border: none !important;
    width: 60px;
    height: 60px;
    left: 505px;
    margin-top: 80px;
    z-index: 3;
}
#quitter {
    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 380px;
    left: 40px;
    z-index: 3;
}
#hackz {

    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 339px;
    left: 42px;
    z-index: 3;
}
#begin{                     
    
    position:absolute;
    width: 54.5px;
    margin-top: -78.5px;
    left: 80px;
    z-index: 3;
}
#end{
    
    position:absolute;
    width: 54.5px;
    margin-top: -78.5px;
    left: 80px;
    z-index: 3;
}
/* #win1 { */
    /* render again elsewhere */
    /* position:absolute;
    width: 370px;
    margin-top: -78.5px;
    left: 78px;
    z-index: 3;
}  */                               render again
/* #win2 {
    /* render again elsewhere */
    /* position:absolute;
    width: 370px;
    margin-top: -78.5px;
    left: 78px;
    z-index: 3; */

#houseAlwaysWins {
    position:absolute;
    width: 67px;
    margin-top: -78.5px;
    left: 80px;
    z-index: 3;
}
#quitButton{
    position:absolute;
    background: transparent;
    border: none !important;
    width: 40px;
    height: 40px;
    margin-top: 380px;
    left: 40px;
    z-index: 7;
}
#cheatButton{
    position:absolute;
    background: transparent;
    border: none !important;
    width: 40px;
    height: 40px;
    margin-top: 339px;
    left: 42px;
    z-index: 7;
}
#balance{
    position: relative;
    font-family: "Monoton";
    font-size: 80px;
    left: 800px;
    color: teal;
}
#totalCredits{
    position: relative;
    font-family: "Monoton";
    font-size: 80px;
    left: 600px;
    margin: auto;
    color: maroon;
}
#symNames{

    position: relative;
    font-size: 40px;
    left: 800px;
    color: teal;
    z-index: 5;
    margin-top: 180px;
}

#star1{
    position:absolute;
    margin-top: -460px;
    width: 50px;
    left: 150px;
    z-index: 2;
}
#diamond1{
    position:absolute;
    margin-top: -460px;
    width: 50px;
    left: 150px;
    z-index: 2;
}
#snake1{
    position:absolute;
    margin-top: -460px;
    width: 50px;
    left: 150px;
    z-index: 2;
}
#pyramid1{
    position:absolute;
    margin-top: -460px;
    width: 50px;
    left: 150px;
    z-index: 2;
}
#goldBar1{
    position:absolute;
    margin-top: -460px;
    width: 50px;
    left: 150px;
    z-index: 2;
}
#knife1{
    position:absolute;
    margin-top: -460px;
    width: 50px;
    left: 150px;
    z-index: 2;
}
#openSlot1{
    position:absolute;
    margin-top: -460px;
    width: 50px;
    height: 50px;
    left: 150px;
    background: transparent;
    border: none !important;
    z-index: 4;
}

#openSlot2{
    position:absolute;
    margin-top: -460px;
    width: 50px;
    height: 50px;
    left: 238px;
    /* background-color: blue; */
    z-index: 4;
}
#openSlot3{
    position:absolute;
    height: 50px;
    width: 50px;
    margin-top: -460px;
    left: 324px;
    background-color: red;
    z-index: 4;
}














/* #matchName1{
    position: relative;
    font-size: 40px;
    left: 800px;
    color: teal;
    z-index: 5;
}
#matchName2{
    position: relative;
    font-size: 40px;
    left: 800px;
    color: teal;
    z-index: 5;
}
#matchName3{
    position: relative;
    font-size: 40px;
    left: 800px;
    color: teal;
    z-index: 5;
} */





/* #play{
    position:relative;
    max-width: 45px;
    max-height: 45px;
    left: 40px;
    z-index: 1;
    
} */



/* body{
    position: relative;
    margin: auto;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
} */
/* .funcButtons{
    position: absolute;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    z-index: 2;
} */
/* .colors{
    position: absolute;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    z-index: 2;
}  */




/* .boxBg{
    position: absolute;
    width: 700px;
    height: 600px;
    left: 600px;
    background-color: black;
    z-index: -1;

} */