/* body{
    position: relative;
    margin: auto;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
} */
/* .funcButtons{
    position: absolute;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    z-index: 2;
} */
/* .colors{
    position: absolute;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    z-index: 2;
}  */

#machineMain {
   position: absolute;
    max-width: 900px;
    max-height: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
/* #play{
    position:relative;
    max-width: 45px;
    max-height: 45px;
    left: 40px;
    z-index: 1;
    
} */
#playButton{
    position:relative;
    width: 60px;
    height: 60px;
    left: 505px;
    margin-top: 80px;
    z-index: 2;
}
#quitter {
    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 380px;
    left: 40px;
}
#hackz {

    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 339px;
    left: 42px;
}
#begin{
    position: relative;
    max-width: 45px;
    max-height: 45px;
}
#end{
    position: relative;
    max-width: 45px;
    max-height: 45px;
}
#win1 {
    position:relative;
    max-width: 45px;
    max-height: 45px;
} 
#win2 {
    position:relative;
    max-width: 45px;
    max-height: 45px;
 
    
} 
#houseAlwaysWins {
    position:relative;
    max-width: 45px;
    max-height: 45px;
}
#quitButton{
    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 380px;
    left: 40px;
    z-index: 7;
}
#cheatButton{
    position:absolute;
    width: 40px;
    height: 40px;
    margin-top: 339px;
    left: 42px;
    z-index: 7;

}


#balance{
    position: relative;
    font-family: "Monoton";
    font-size: 80px;
    left: 800px;
   
}
#totalCredits{
    position: relative;
    font-family: "Monoton";
    font-size: 80px;
    left: 600px;
    margin: auto;
    
}




