.machineBody{
    position: absolute;
    margin: auto;
    z-index: 1;
}
.funcButtons{
    position: absolute;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    z-index: 2;
}
.colors{
    position: absolute;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    z-index: 2;
} 
#machineMain {
    position: relative;
    z-index: 1;
    object-fit: scale-down;
    max-width: 800px;
    max-height: 800px;
}
#play{
    position:relative;
    max-width: 45px;
    max-height: 45px;
    right: 0px;
    z-index: 1;
    
}
#playButton{
    position:relative;
    width: 60px;
    height: 60px;
   
    z-index: 2;
}
#quitter {
    position:relative;
    width: 40px;
    height: 40px;
    z-index: 6;
}
#retry {

    position:absolute;
    width: 40px;
    height: 40px;
}
#begin{
    position: relative;
    max-width: 45px;
    max-height: 45px;
}
#end{
    position: relative;
    max-width: 45px;
    max-height: 45px;
}
#win1 {
    position:relative;
    max-width: 45px;
    max-height: 45px;
} 
#win2 {
    position:relative;
    max-width: 45px;
    max-height: 45px;
 
    
} 
#houseAlwaysWins {
    position:relative;
    max-width: 45px;
    max-height: 45px;
}
#quitButton{
    position:relative;
    width: 60px;
    height: 60px;
    z-index: 7;
}
#cheatButton{
    position:relative;
    width: 60px;
    height: 60px;
    z-index: 7;

}
#balance{
    font-family: "Monoton";
    font-size: 80px;
}




